# On local use POSTGRES_HOST=localhost with Docker POSTGRES_HOST=db
POSTGRES_HOST=db        
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=AiUser2025
POSTGRES_DB=

# Switch to True to create tables
ENABLE_FORCE_SEED=False

OPENAI_API_KEY=

# USER = POSTGRES_USER, PWD = POSTGRES_PASSWORD, DB = POSTGRES_DB
DATABASE_URL=postgresql+psycopg://USER:PWD:5432/DB
